table{
	width: 100%;
	border-collapse: collapse;
	vertical-align: middle;
	text-align: center;
	font-family: serif;
	margin-left: auto;
	margin-right: auto;
}
td{
	font-size:0.8vw;
	font-weight: bold;
	min-width: 65px;
	page-break-inside: avoid;
}
th{
	background-color: #d8ffee;
	min-width: 65px;
}
img{
	background-color: black;
	width: 250px;
	height: 250px;
}
.surround{
	background-color: rgb(252, 244, 173);
}
.Alkali-Metal{
	background-color: rgb(43, 219, 113);
}
.Alkaline-Earth-Metal{
	background-color: rgb(252, 130, 30);
}
.Lanthanide{
	background-color: rgb(241, 67, 241);
}
.Actinide{
	background-color: rgb(226, 247, 44);
}
.Transition-Metal{
	background-color: rgb(29, 95, 238);
}
.Post-Transition-Metal{
	background-color: rgb(0, 238, 255);
}
.Metalloid{
	background-color: rgb(226, 48, 48);
}
.Other-Nonmetal{
	background-color: rgb(18, 131, 46);
}
.Halogen{
	background-color: rgb(241, 78, 132);
}
.Noble-Gas{
	background-color: rgb(206, 248, 150);
}
.Unknown{
	background-color: rgb(107, 47, 187);
}
.num{
	text-align: left;
	font-weight: normal;
	font-size: 12px;
}
.atom-weight{
	text-align: right;
	font-weight: normal;
	font-size: 12px;
}
.e-name{
	font-weight: normal;
	vertical-align: top;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
}